<h1><%= @article.title %></h1>
<%= @article.body %>
<br><br>
<%= link_to "Edit Article",edit_article_path(@article) %>
<br>
<%= link_to "Delete Article", article_path(@article), method: :delete, data: {confirm: "Do you really want to delete?"} %>
<br>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<br>
<%= link_to "Home", articles_path %>