<h1><%= @article.title %></h1>
<p>
  <% if @article.image.exists? %>
  <%= image_tag @article.image.url(:medium) %><br/>
  <% end %>
</p>
<br>
<%= @article.body %>
<% if logged_in? %>
<br><br>
<%= link_to "Edit Article",edit_article_path(@article) %>
<br>
<%= link_to "Delete Article", article_path(@article), method: :delete, data: {confirm: "Do you really want to delete?"} %>
<% end %>
<br>
<%= render partial: 'articles/comment', collection: @article.comments %>
<% if logged_in? %>
<%= render partial: 'comments/form' %>
<% end %>
<br>
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p>
<br><br><br>
<%= link_to "Home", articles_path %>